.main-detail{
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10vw;
    align-items: center;
    font-size: 1.6rem;
}

.edit-box{
  min-width: inherit;
  min-height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(253, 255, 253, 0.5);
}

.e-form {
  background: rgba(182, 200, 183, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  height: 50vh;
  padding: 2rem;
  width: 70%;
}

.e-form label{
  font-size: 3rem;
  font-weight: 600;
}


.e-form input{
  background-color: inherit;
  margin-bottom: 3rem;
  font-size: 2rem;
  outline: 0;
  border: none;
  border-bottom: 2px solid;
  transition: 0.5s;
  border-radius: 0.5rem;
}
.e-form input:focus{
  transform: scale(1.01);
  background-color: rgb(217, 204, 129);
}
.e-form textarea{
  margin-bottom: 3rem;
  outline: 0;
  border: none;
  font-size: 2rem;
  border-radius: 0.5rem;
}
.e-form textarea:focus{
  transform: scale(1.01);
  background-color: rgb(217, 204, 129);
}
.e-form button{
  padding: 0;
  border: none;
  background-color: rgb(143, 196, 143);
  height: 6rem;
  font-size: 3rem;
  font-weight: 600;
}
.e-form button:hover{
  transition: 0.5s;
  transform: scale(1.02);
  background-color: rgb(84, 191, 84);
}
.detail-box{
  min-width: inherit;
  min-height: inherit;
  display: flex;
  background: rgba(253, 255, 253, 0.5);
  justify-content: space-evenly;
  
}

.d-col{
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  border-right: 2px solid;
}

.d-col p{
  
} 


#prof-img{
  width: 15vw;
  height: inherit;
}

.items-col{
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}
.s-item{
  flex: '0 0 33%';
  margin-bottom: '15px'; 
  justify-content: center;
  text-align: center;
  transition: 0.5s;
}
.s-item:hover{
  transform: scale(1.03);
  background-color: rgb(152, 171, 207);
}

.sale-det-img{
  width: 15vw;
  height: inherit;
}

.trs-sect{
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.trs-card{
  min-width: 80vw;
  min-height: 15vh;
  display: flex;
  justify-content: space-between;
  gap: 3vw;
}

.trs-card:hover{
  scale: (1.1);
}