.main-detail{
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10vw;
    align-items: center;
    font-size: 1.6rem;
}

.edit-box{
  min-width: inherit;
  min-height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(253, 255, 253, 0.5);
}

.e-form {
  background: rgba(182, 200, 183, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  height: 50vh;
  padding: 2rem;
  width: 70%;
}

.e-form label{
  font-size: 3rem;
  font-weight: 600;
}


.e-form input{
  background-color: inherit;
  margin-bottom: 3rem;
  font-size: 2rem;
  outline: 0;
  border: none;
  border-bottom: 2px solid;
  transition: 0.5s;
  border-radius: 0.5rem;
}
.e-form input:focus{
  transform: scale(1.01);
  background-color: rgb(217, 204, 129);
}
.e-form textarea{
  margin-bottom: 3rem;
  outline: 0;
  border: none;
  font-size: 2rem;
  border-radius: 0.5rem;
}
.e-form textarea:focus{
  transform: scale(1.01);
  background-color: rgb(217, 204, 129);
}
.e-form button{
  padding: 0;
  border: none;
  background-color: rgb(143, 196, 143);
  height: 6rem;
  font-size: 3rem;
  font-weight: 600;
}
.e-form button:hover{
  transition: 0.5s;
  transform: scale(1.02);
  background-color: rgb(84, 191, 84);
}
.detail-box{
  min-width: inherit;
  min-height: inherit;
  display: flex;
  background: rgba(253, 255, 253, 0.5);
  justify-content: space-evenly;
  
}

.d-col{
  margin: 3rem;
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  background-color: rgb(233, 235, 237);
  border-radius: 1rem;
  box-shadow: 0 1rem 1rem;
}

.e-btn{
  width: 80%;
  border: none;
  background-color: rgb(208, 208, 126);
  height: 6vh;
  border-radius: 3rem;
  transition: 0.5s;
}
.e-btn:hover{
  background-color: rgb(224, 224, 71);
}

#prof-img{
  width: 15vw;
  height: inherit;
}

.items-col{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  
}
.s-item {
  flex: 0 0 33%; 
  height: 30vh;
  margin-bottom: 1rem;
  justify-content: center;
  text-align: center;
  transition: 0.5s;
  
}
.s-item:hover{
  transform: scale(1.03);
  background-color: rgb(152, 171, 207);
}


.trs-sect{
  box-shadow: 0 1rem 1rem;
  background-color: rgb(222, 222, 222);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 5rem 2rem;
}

.trs-card {
  min-width: 80vw;
  max-height: 15vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 3vw;
  border-radius: 8px;
  box-shadow: 0 1rem 1rem;
  overflow: hidden;
}

.trs-card img {
  max-width: 10vh;
  max-height: 10vh; /* Set a maximum height if desired */
  height: auto;
  object-fit: cover; /* or object-fit: contain; depending on your preference */
}
.trs-card{
  text-decoration: none;
}

.trs-card h5{
  color: black;
  font-size: 3rem;
}


