.footer {
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f8f8f8;
    display: flex; 
    padding: 10px;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1); 
    justify-content: space-around;
    font-size: 2rem;
  }

.lista{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.lista li{
    list-style: none;
}
.lista li a{
    margin-bottom: 2rem;
    text-decoration: none;
    color: black;
    transition: 0.5s;
}
.lista li a:hover{
    color:rgb(133, 127, 127);
}

.f-col{
    min-width: 25vw;
    display: flex;
    flex-direction: column;
}


