.footer{
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    gap: 2vw;
}

.lista{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.lista li{
    list-style: none;
}
.lista li a{
    margin-bottom: 2rem;
    text-decoration: none;
    color: black;
    transition: 0.5s;
}
.lista li a:hover{
    color:rgb(133, 127, 127);
}

.f-col{
    min-width: 25vw;
    display: flex;
    flex-direction: column;
}


