
body {
    font-family: 'Sometype Mono', monospace;
    font-size: 10px;
  }
  
  #resp-menu {
    position: fixed;
    background-color: rgba(172, 181, 187, 0.7);
    height: 100%;
    width: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 1;
    overflow: hidden;
    transition: width 0.3s ease;
  }
  
  #closeX {
  	position: absolute;
	right: 3.4rem;
	top: 1.9rem;
	text-decoration: none;
	color: black;
	font-size: 6rem;
  }
  
  #resp-menu ul {
    display: flex;
    flex-direction: column;
    gap: 4vh;
    text-align: center;
  }
  
  #resp-menu ul a {
    text-decoration: none;
    color: black;
    font-size: 7vw;
    font-weight: 700;
    display: block;
    padding: 2rem 20vw;
    border-radius: 1rem;
  }
  
  #resp-menu ul a:hover {
    color: white;
    background-color: #666;
  }
  
  #burger {
    position: fixed;
    display: none;
    background-color: #eee;
  /* dzięki position fixed */
    right: 2rem;
    top: 2rem;
    font-size: 4rem;
    cursor: pointer;
    padding: 1rem 1.3rem;
    border-radius: 1rem;
  }
  
  nav {
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 10px 0;
    z-index: 1;
    width: 100%;
  }
  
  nav ul {
    display: flex;
    gap: 20px;
    text-decoration: none;
    list-style: none;
  }

  
  nav ul li a {
    color: white;
    display: block;
    padding: 10px 3vw;
    text-decoration: none;
    font-weight: 900;
    font-size: 2.6rem;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    background-color: #ddd;
    color: #333;
    text-decoration: none;
    border-radius: 1rem;
  }
  
  #search {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #nav-search {
    font-size: 1.6rem;
    padding: 3rem;
    border: 0;
  }

  #nav-search:focus{
    border: none;
    background-color: #e9e4d6; 
    outline: 0;
  }
  
  #search-submit {
    font-size: 2.3rem;
    cursor: pointer;
    border: none;
    width: 15rem;
  }
    
  @media all and (max-width: 600px) {
    nav {
      display: none;
    }
  
    #burger {
      display: block;
    }
  
    #nakladka {
      width: 100%;
      display: none;
    }
  
    nav ul {
      flex-direction: column;
      align-items: center;
      background-color: #333;
      width: 100%;
      position: absolute;
      top: 6rem}
    

      .footer {
        flex-direction: column;
        text-align: center;
      }

      .lista{
        align-items:center;
        padding: 0;
      }
      .f-col{
        max-width:  none;
        min-width: 100%;
        display: flex;
        flex-direction: column;
    }
    }
